lanlchain.pem
*.log

logs/*
output/*
exports/*
genericio/*
cache/*
state/state.pkl
venv_*
cache

data_storage/*
!data_storage/.placeholder

src/data/JSON/*
src/deprecated

src/utils/config.py

src/data/*.csv
src/data/vector_store

genericio/*
!genericio
!genericio/.placeholder

!src/data/JSON
!src/data/JSON/.placeholder
!logs
!logs/.placeholder

