# llm local server
ollama

# for agent and workflow setup
langchain
langchain-community
langchain-core
langchain-openai
langchain-ollama
langchain-experimental
langgraph
langgraph-supervisor
faiss-cpu

requests
pydantic

# setup sandbox - tabulate needed for pandas agent
fastapi
uvicorn
python-multipart
tabulate
asyncio
# pandasai

pandas
numpy
plotly
typer
tqdm
dsi-workflow

pytest
pytest-cov
pretty-repr

# pyvista[all]
# trame
numba

# for html visualization outside of server
panel