lanlchain.pem
*.log

logs/*
output/*
exports/*
genericio/*
cache/*

src/data/JSON/*
src/deprecated

src/data/*.csv

genericio/*
!genericio
!genericio/.placeholder

!src/data/JSON
!src/data/JSON/.placeholder
!logs
!logs/.placeholder